
@{
    ViewBag.Title = "Index";
}

<div class="col-6">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="h4 mb-0">Index</h2>
        </div>
        <div class="card-body">
            @Html.ActionLink("Listar Personas", "PersonList", "Person", new { @class = "btn btn-blue" })
        </div>
    </div>
</div>

