
@{
    ViewBag.Title = "Graphic";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Gráficos de los Cursos</h2>
    </div>
    <div class="card-body text-center">
            <h4 class="h4 mb-0">Gráfico de Columnas</h4>
            <img src="@Url.Action("GraphicColumn")" />
            <h4 class="h4 mb-0 mt-5">Gráfico de Barras</h4>
            <img src="@Url.Action("GraphicBar")" />
            <h4 class="h4 mb-0 mt-5">Gráfico de Tarta</h4>
            <img src="@Url.Action("GraphicPie")" />
            <h4 class="h4 mb-0 mt-5">Gráfico de Radar</h4>
            <img src="@Url.Action("GraphicRadar")" />
    </div>
</div>

<style>
    iframe {
        border-width: 0;
        width: 90%;
    }
</style>