@using ReportViewerForMvc;
@model Lab15.Models.Person

@{
    ViewBag.Title = "Report";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Reporte de Personas</h2>
        <div class="d-flex">
            @using (Html.BeginForm("Report", "Person", FormMethod.Post))
            {
                <div class="input-group input-group-merge search-bar w-auto mr-4">
                    <input type="text" class="form-control" id="search" name="search" placeholder="Buscar persona" aria-label="Search" autocomplete="off" />
                    <button class="btn btn-gray" type="submit"><span class="fas fa-search"></span></button>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-center">
            @if (ViewBag.ReportViewer != null)
            {
                @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
            }
        </div>
    </div>
</div>

<style>
    iframe {
        border-width: 0;
        width: 90%;
    }
</style>
