
@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@using (Html.BeginForm("Report", "Person", FormMethod.Post))
{
    <p>Nombre: @Html.TextBox("nombre")</p>
    <button type="submit" class="btn btn-blue">Buscar</button>
}

@if (ViewBag.ReportViewer != null)
{
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
}

<style>
    iframe {
        border-width: 0;
    }
</style>